<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="card col-lg-8 offset-lg-2 p-0 my-5">
        <img src="<%= campground.image %>" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= campground.location %></li>
            <li class="list-group-item">$<%= campground.price %> per week</li>
        </ul>
        <div class="card-body">
            <a
                href="/campgrounds/<%= campground.id %>/edit"
                class="btn btn-warning"
                >Edit camp</a
            >
            <form
                action="/campgrounds/<%= campground.id %>?_method=DELETE"
                method="POST"
                class="d-inline">
                <button class="btn btn-danger">Delete camp</button>
            </form>
        </div>
    </div>
</div>
